*{
    font-family: 'Merriweather', serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    
}
html {
    font-size: 62.5%;
}
body{
    background: beige;
    scroll-behavior: smooth;
}
body.lock{
    overflow: hidden;
}
html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
h1 {
    font-size: 32px;
    font-weight: 570;
    line-height: 1.8;
    letter-spacing: 7.6px;
    text-align: center;
    text-transform: initial;
    padding-top: 0;
}
h2{
    font-size: 30px;
    font-style:initial;
    font-weight: 620;
    line-height: 1.3;
    letter-spacing: 6px;
    text-align: justify;
    text-transform: initial;
}
h3 {
    font-size: 18px;
    font-style:initial;
    font-weight: 600;
    line-height: 0.8;
    text-align:inherit;
    text-transform: initial;
}
p, a {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    text-transform: initial;
    margin: 10px 5px;
    color: #333333;
}
section {
    align-content: initial;
    padding: 40px 7%;
    z-index: 1000;
}
 h3 span {
    color: #e3bc59f3;
}
h1, h2{
    color: #a9855b;
}

.heading {
    text-align: center;
    padding-bottom: 54px;
    font-size: 34px;
}
.heading2{
    text-align: center;
    padding-bottom: 54px;
    font-size: 22px;
    color: rgb(42, 44, 44);
}
.heading3{
    text-align: center;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 16px;
    color: rgb(42, 44, 44);
    line-height: 1.5;
}
.p{
    font-size: 16px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #eceef0;
    border-bottom: 1.5px solid #cdc5c5;
}
.header_container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0px 25px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
.logo a img{
    width: 60px;
}
div.logo h1 {
    margin: 7px;
}
.center_row > li{
    position: relative;
    margin: 0px 0px 0px 20px;
}
ol, ul {
    list-style: none;
}
.menu_sub-list{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    padding: 15px;
    min-width: 150px;
}
.menu_sub-list li {
    margin: 0px 0px 10px 0px;
}
.menu_sub-list li:last-child{
    margin: 0;
}
a.menu__item{
    margin:0 1rem;
}
a.menu__item,
.menu_sub-list li a{
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style: normal;
    color: #726767;
    font-size: 20px;
}
a.menu__item:hover {
    color: #e3bc59f3;
    border-bottom: 2px solid #e3bc59f3;
    padding-bottom: 8px;
}
.menu_sub-list li a:hover{
    color: #e3bc59f3;
    border-bottom: 2px solid #e3bc59f3;
    padding-bottom: 4px;
}
div.logo{
    display: flex;
    flex-direction: row;
}
div.icons {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
div.icons div {
    cursor: pointer;
    font-size: 40px;
    margin-left: 32px;
}
div.icons div img {
    height: 28px;
}
.menu_icon{
    display: none;
}
/*section cafebg*/
section.container.cafebg{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(./img/main-coffee.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.container.cafebg .content {
    max-width: 800px;
}
.content h1 {
    font-size: 80px;
    color: #4b4432f3;
}
.content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #495250;
    margin: 0 auto;
}
.menu_item{
    position: absolute;
    background:#a2c5c5;
    color:#eceef0;
    position:relative;
    height:60px;
    width: 160px;
    font-size: 22px;
    padding:0 16px;
    cursor: pointer;
    transition:800ms ease all;
    outline:none;
  }
  .menu_item:hover{
    background:#eceef0;
    color:#dadfdf;
  }
  .menu_item:before,.menu_item:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:3px;
    width:0;
    background: #a2c5c5;
    transition:400ms ease all;
  }
  .menu_item:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .menu_item:hover:before,.menu_item:hover:after{
    width:100%;
    transition:800ms ease all
  }
 a.name {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 /*end section cafebg*/
 /*section buy-pr*/
 .buy-pr{
    background-color: #dadfdf;
    margin-top: -7%;
    display: flex;
    flex-direction: column;
 }
 section.buy-pr h2 {
    text-align: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.buy-coffee{
    flex: 24%;
    border: 1.5px solid rgb(176, 182, 187);
}
.roast {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.roast .typeroast {
    margin-right: 5px;
}
div.roast{
    margin-top: 10px;
}
img.starpic {
    display: block;
    margin: 0 auto;
}
.starpic {
    max-width: 255px;
    max-height: 315px;
}
div.grid div.buy-coffee {
    text-align: center;
}
div.buy-coffee:hover {
    background: #eceef0;
}
.menu_item1{
    position: absolute;
    background:#a2c5c5;
    color: #4b4432f3;
    position:relative;
    height:40px;
    width: 130px;
    font-size: 22px;
    padding:0 16px;
    cursor: pointer;
    transition:800ms ease all;
    outline:none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    margin: 10px auto;  
}
.menu_item1:hover{
    background:#eeedbe;
    color:#b6dada;
  }
.menu_arrow{
    display: none;
}
body._pc .center_row > li:hover .menu_sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
}
body._mobile .center_row > li {
    display: flex;
    align-items: center;
}
body._mobile .menu_arrow{
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent; 
    border-right: 5px solid transparent; 
    border-top: 10px solid #cbcfcf;
}
body._mobile .center_row > li.active .menu_sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
    display: block;
}
/*section menu*/
.menu_coffee {
    background-color: #e9e7e5;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col{
    flex: 45%;
    box-sizing: border-box;
    padding: 10px 20px 15px 20px;
}
.col div.drink img{
    float: left;
    margin: 4px;
    width: 80px;
    height: 80px;
    text-align: left;
    border-radius: 50%;
}
div.title_coffee {
    margin-left: 90px;
    font-size: 10px;
}
div.title_coffee h3 {
    color: rgb(180, 157, 140);
    line-height: 1.4;
}
div.title_coffee p{
    font-size: 16px; 
    margin-top: 25px;
} 
div.title_coffee span {
    border-bottom: 3.5px dotted;
    margin-left: 40px;
}
.col {
    border: 1.5px solid rgb(187, 186, 176);
    margin: 1.5px;
    position:relative;
    padding-bottom: 40px;
}
.col:hover{
    background-color:rgb(224, 212, 204);
    transform: scale(1.02);
}
.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    padding: 5px;
    position: absolute;
    bottom: 5px;
}
.rating_item{
    color: #a8a7a7;
    cursor: pointer;
    transition: .2s;
    font-size: 22px;
}
.rating_item:hover,
.rating_item:hover ~ .rating_item{
    color: #e3bc59f3;
}
.rating[data-total-value="1"] .rating_item:nth-child(n+5),
.rating[data-total-value="2"] .rating_item:nth-child(n+4),
.rating[data-total-value="3"] .rating_item:nth-child(n+3),
.rating[data-total-value="4"] .rating_item:nth-child(n+2),
.rating[data-total-value="5"] .rating_item:nth-child(n+1) {
    color: #e3bc59f3;
}
.menu_item_1{
    background-color:rgb(180, 157, 140);
}
a.menu_item.menu_item_1{
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -20px;
}
.menu_item_1:before,.menu_item_1:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:3px;
    width:0;
    background: rgb(180, 157, 140);
    transition:400ms ease all;
  }
  .menu_item_1:hover{
      color: rgb(180, 157, 140);
  }
  .menu_item_1:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .menu_item.menu_item_1{
    height: 50px;
    font-size: 18px;
    margin: 0 auto;
}
/*section order-coffee*/
.order-coffee{
    background-color: #dadfdf;
}
.row1{
    display: flex;
    align-items: center;
    width: 96%;
}
.content-coffee,
.image-coffee {
    flex: 50%;
    font-size: 24px;
    margin: 15px;
}
.head_take_away{
    color: #a9855b;
    font-size: 65px;
}
.image-coffee img {
    width: 100%;
    height: auto;
}
/*section intro*/
.intro{
    background-color: #e9e7e5;
    min-height: 480px;
}
.title_p{
    padding: 0 0 20px;
    color: #787878;
    margin: 20px;
}
.intro-coffee{
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
}
.intro-coffee h1{
    font-size: 60px;
    color: #4b4432f3;
}
.intro-coffee .heading{
    padding-bottom: 40px;
}

i.down {
    border: solid rgb(180, 157, 140);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-left: 46%;
  }
i.down:hover{
    border: solid #e3bc59f3;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 3px;
    height: 50px;
    width: 50px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
/*section subscribe*/
.news{
    background-color: #dadfdf;
}
.columns1{
    display: flex;
}
.part1{
    flex: 50%;
    align-items: center;
    justify-content: center;
}
.container-form{
    max-width: 500px;
    width: 100%;
    background: #fff;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgb(0, 0, 0, 0.125);
}
.container-form legend{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #dfbf6ff3;
    text-transform: uppercase;
    text-align: center;
}
.container-form form{
    width: 100%;
}
.part1{
    display: flex;
    align-items: center;
    margin: 0 15px;
}
.part1 label{
    width: 50px;
    margin-right: 10px;
    font-size: 14px;
    color:#4b4432f3; 
}
.button{
    height: 37px;
    width: 110px;
    margin-right: 105px;
    margin: 15px 0;
}
.part1 .input_det {
    width: 160px;
    outline: none;
    border: 0.5px solid #bdbcbaf3;
    font-size: 15px;
    padding: 8px 10px;
    transition: all 0.3s ease;
}
.part1 .input_det:focus{
    border: 1px solid #e3bc59f3;
}
label p a{
    float: left;
}
label p a{
    color: rgb(180, 157, 140);
}
label p a:hover{
    color: rgb(212, 202, 142);
}
.inputfield .check{
    width: 15px;
    height: 15px;
    cursor:pointer;
    position: relative;
    margin: 0 10px;
}
.inputfield .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.inputfield .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid rgb(212, 202, 142);
    display: block;
    position: relative;
    background: rgb(248, 248, 248);
}
.inputfield .check .checkmark:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 5px;
    height: 2px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}
.inputfield .check input[type="checkbox"]:checked ~ .checkmark{
    background: rgb(212, 202, 142);
}
.inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
    background: rgb(212, 202, 142);
    display: block;
}
.part1 img{
    width: 100%;
    height: auto;
}




@media (min-width: 767px){
    .center_row{
        display: flex;
        align-items: center;
    }
    .center_row > li {
        padding: 10px 0;
    }
    nav.navbar.nav_container{
        display: flex;
    }
    .menu_sub-list{
        transform: translate(0px, 10%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease 0s;
    }
}
@media (max-width: 767px) {
    .menu_icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .nav_container {
        position: fixed;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        background-color:rgba(174, 201, 201, 0.95);
        color: rgb(230, 240, 238);
        padding: 100px 30px;
        transition: right 0.3s ease 0s;
    }
    .nav_container.active{
        right: 0;
    }
    .nav_container::before{
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        max-height: 102px;
        background-color: #eceef0;
        border-bottom: 1.5px solid #cdc5c5;
        z-index: 2;
    }
    .center_row > li {
        flex-wrap: wrap;
        margin: 15px 0px 25px 0px;
    }
    .nav_container > li.active .menu_sub-list{
        display: block;
    }
    .center_row li a{
        font-size: 22px;
    }
    .menu_sub-list{
        position: relative;
        flex: 1 1 100%;
        display: none;
    }
    .menu_sub-link{
        font-size: 18px;
    }
}
div.title_coffee span {
    border-bottom: 3.5px dotted;
    display: flex;
    max-width: 55px;
    margin-left: 10px;
}
div.logo{
    z-index: 3;
}
@media (max-width: 1280px){
    .row1{
    flex-direction: column;
    }
}
@media (max-width: 350px){
    .intro-coffee h1{
        font-size: 40px;
    }
}
@media (max-width: 1112px){
    .news .columns1{
        flex-direction: column;
    }
    .columns1 .part1 label{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (max-width: 440px){
    fieldset.forms p,
    .part1 .input_det,
    .inputfield .part1 p,
    .inputfield .part1 p a{
        font-size: 14px;
    }
}
@media (max-width: 340px){
    .columns1 .part1{
        width: 250px;
        margin-right: 20px;
    }
    fieldset.forms legend {
        margin-left: -40px;
        font-size: 14px;
    }
    fieldset.forms p.p,
    fieldset.forms p.p a,
    div.part1 label{
        font-size: 10px;
    }
    .input_det{
        width: 100px;
    }
    .container-form{
        width: 300px;
    }
}













/*media queires*/
@media screen and (min-width: 960px) {
    html {
      margin-left: calc(100vw - 100%);
      margin-right: 0;
    }
  }
@media(max-width: 991px){
    html{
        font-size: 55%;
    }
    header {
        padding: 1.5rem 2rem;
    }
    section{
        padding:2rem;
    }
}
@media (max-width: 440px){
    .container.cafebg .content h1{
        font-size: 45px;
    }
    .container.cafebg .content p{
        font-size: 16px;
    }
    .menu_item {
        height: 50px;
        width: 130px;
    }
    .menu_item a{
        font-size: 14px;
    }
    .head_take_away{
        font-size: 42px;
    }
    a.menu_item.menu_item_1{
        font-size: 15px;
    }
}
@media (max-width: 484px){
    #logo-name {
        display: none;
    }
}
@media (max-width: 1377px), 
       (min-width:1307px){
        .special {
            
    display: block;
    max-width: 24%;
    margin: auto;
        }
}
@media (max-width: 1213px){
    .special{
    display: block;
    max-width: 33%;
    margin: auto;
    }
}
@media (max-width: 817px){
    .special{
    display: block;
    max-width: 50%;
    margin: auto;
    }
}
@media (max-width: 556px){
    .special{
    display: block;
    max-width: 100%;
    }
}