*{
    font-family: 'Merriweather', serif;
    margin:0; 
    padding:0;
    box-sizing: border-box;
    outline: none; 
    border:none;
    text-decoration: none;
    
}
html {
    font-size: 62.5%;
}
body{
    background: beige;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
h1 {
    font-size: 32px;
    font-weight: 570;
    line-height: 1.8;
    letter-spacing: 7.6px;
    text-align: center;
    text-transform: initial;
    padding-top: 0;
}
h2{
    font-size: 30px;
    font-style:initial;
    font-weight: 620;
    line-height: 1.3;
    letter-spacing: 6px;
    text-align: justify;
    text-transform: initial;
}
h3 {
    font-size: 18px;
    font-style:initial;
    font-weight: 600;
    line-height: 0.8;
    text-align:inherit;
    text-transform: initial;
}
p, a {
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    text-transform: initial;
    margin: 10px 5px;
    color: #333333;
}
section {
    align-content: initial;
    padding: 40px 7%;
}
h1, h2, h3 span {
    color: #e3bc59f3;
}
header {
    background-color: #eceef0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.5px solid #cdc5c5;
    padding: 2px 7%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    list-style-type: none;
}
.heading {
    text-align: center;
    padding-bottom: 54px;
    font-size: 34px;
}
.heading2{
    text-align: center;
    padding-bottom: 54px;
    font-size: 22px;
    color: rgb(42, 44, 44);
}
.heading3{
    text-align: center;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 16px;
    color: rgb(42, 44, 44);
}
.p{
    font-size: 16px;
}
.logo a img{
    width: 60px;
}
div.logo h1 {
    margin: 7px;
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.center_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.nav_container ol li {
    margin: 0 14px;
}
ol {
    list-style: none;
}
a.menu__item{
    margin:0 1rem;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-style: normal;
    color: #726767;
    font-size: 20px;
}
a.menu__item:hover {
    color: #e3bc59f3;
    border-bottom: 2px solid #e3bc59f3;
    padding-bottom: 8px;
}
div.logo{
    display: flex;
    flex-direction: row;
}
div.icons {
    display: flex;
    flex-direction: row;
}
div.icons div {
    cursor: pointer;
    font-size: 40px;
    margin-left: 32px;
}
div.icons div img {
    height: 28px;
}
#menu-btn{
    display: none;
}
section{
    min-height: 100vh;
}
/*section cafebg*/
section.container.cafebg{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(./img/main-coffee.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.container.cafebg .content {
    max-width: 800px;
}
.content h1 {
    font-size: 80px;
    color: #4b4432f3;
}
.content p {
    font-size: 2rem;
    font-weight: lighter;
    line-height: 1.8;
    padding: 1rem 0;
    color: #495250;
    margin: 0 auto;
}
.menu_item{
    position: absolute;
    background:#a2c5c5;
    color:#eceef0;
    position:relative;
    height:60px;
    width: 160px;
    font-size: 22px;
    padding:0 16px;
    cursor: pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: px;
  }
  .menu_item:hover{
    background:#eceef0;
    color:#dadfdf;
  }
  .menu_item:before,.menu_item:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:3px;
    width:0;
    background: #a2c5c5;
    transition:400ms ease all;
  }
  .menu_item:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .menu_item:hover:before,.menu_item:hover:after{
    width:100%;
    transition:800ms ease all
  }
 a.name {
    display: flex;
    align-items: center;
    justify-content: center;
 }
 /*end section cafebg*/
 /*section buy-pr*/
 .buy-pr{
    background-color: #dadfdf;
    margin-top: -7%;
    display: flex;
    flex-direction: column;
 }
 section.buy-pr h2 {
    text-align: center;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}
.buy-coffee{
    flex: 24%;
    border: 1.5px solid rgb(176, 182, 187);
}
.roast {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.roast .typeroast {
    margin-right: 5px;
}
div.roast{
    margin-top: 10px;
}
img.starpic {
    display: block;
    margin: 0 auto;
}
.starpic {
    max-width: 255px;
    max-height: 315px;
}
div.grid div.buy-coffee {
    text-align: center;
}
div.buy-coffee:hover {
    background: #eceef0;
}
.menu_item1{
    position: absolute;
    background:#a2c5c5;
    color: #4b4432f3;
    position:relative;
    height:40px;
    width: 130px;
    font-size: 22px;
    padding:0 16px;
    cursor: pointer;
    transition:800ms ease all;
    outline:none;
    margin: auto;
    display: flex;
    justify-content: center;
    align-content: center;
    font-weight: 600;
    margin: 10px auto;  
}
.menu_item1:hover{
    background:#eeedbe;
    color:#b6dada;
  }













/*media queires*/
@media screen and (max-width: 991px){
    html{
        font-size: 55%;
    }
    header {
        padding: 1.5rem 2rem;
    }
    section{
        padding:2rem;
    }
}
@media (max-width: 786px){
    #menu-btn{
        display:inline-block;
    } 
    ol.center_row  {
        position: absolute;
        top: 101.5px;
        right: 0;
        background: #fff;
        width: 280px;
        height: calc(100vh - 9.5rem);
    }
     ol.center_row.active{
        right: 100%;
    }
     ol.center_row  {
        display: block;
        padding: 8px;
        font-size: 34px;
        z-index: 1;
    }
    .container.cafebg{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
}
@media (max-width: 440px){
    .container.cafebg .content h1{
        font-size: 45px;
    }
    .container.cafebg .content p{
        font-size: 16px;
    }
    .menu_item {
        height: 50px;
        width: 130px;
    }
    .menu_item a{
        font-size: 14px;
    }
}
@media (max-width: 484px){
    #logo-name {
        display: none;
    }
}
@media (max-width: 1377px), 
       (min-width:1307px){
        .special {
            
    display: block;
    max-width: 24%;
    margin: auto;
        }
}
@media (max-width: 1213px){
    .special{
    display: block;
    max-width: 33%;
    margin: auto;
    }
}
@media (max-width: 817px){
    .special{
    display: block;
    max-width: 50%;
    margin: auto;
    }
}
@media (max-width: 556px){
    .special{
    display: block;
    max-width: 100%;
    }
}